@import "tailwindcss";

@theme {
  --color-background: #0B0F19;
  --color-surface: #111827;
  --color-surface-highlight: #1F2937;
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-text-primary: #F9FAFB;
  --color-text-secondary: #9CA3AF;
  --color-border: #374151;
  --color-success: #10B981;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--font-sans);
  }
}
